################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AR_Aging/.vs/AR_Aging/v14/.suo
