################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Datawarehouse/Datawarehouse/Datawarehouse.dbmdl
